.profile-dropdown {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: absolute;
  top:50px;
  right: 40px;
  border: 2px solid rgba(42, 104, 196, 0.753);
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(84, 185, 229);
}

.user-icon {
  color: rgb(204, 242, 255);
  cursor: pointer;

}

.user-icon-img {
  margin: 0px;
  width:32px;
  height:32px;
  object-fit:cover;
  border-radius:50%;
  cursor: pointer;
}

.profile-button {
  margin-right: 40px;
}

.logout {
  margin: 0;
  cursor: pointer;
}
