.top-song-list-page {
  display: flex;
  align-items: center;
}

.song-list-detail {
  display: flex;
  column-gap: 5px;
}

.song-list-items {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  margin-top: 20px;
}

.song-list-item {
  display: flex;
  align-items: center;
}
