.comment-box {
  /* border: 1px solid black; */
  width: 600px;
  max-height: 490px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  overflow-y: auto;
}

.create-comment {
  display: flex;
  align-items: center;
  height: 50px;
}

.create-comment-2 {
  display: flex;
  flex-direction: column;
}

.comment-textarea {
  height: 17px;
}

.message-textarea {
  resize: none;
  outline: none;
  overflow-y: auto;
  /* background-color: rgb(75, 72, 69);
  color: rgb(230, 230, 230); */
  border: 1px solid rgb(36, 35, 35);
  border-radius: 10px;
  /* margin-top: 15px; */
  /* width: 500px; */
}

.leave-comment-box {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
