.navbar {
  position: fixed;
  display: flex;
  justify-content:space-between;
  align-items:center;
  border-bottom: 1px solid rgba(42, 104, 196, 0.753);
  column-gap: 10px;
  height: 50px;
  margin: 0px;
  width: 100%;
  text-decoration: none;
  background-color: rgb(40, 164, 215);
  z-index: 100;
  color: rgb(204, 242, 255);
}

.navbar a {
  color: rgb(204, 242, 255);

}

.navbar-placeholder {
  height: 50px;
  margin: 0px;
  width: 100%;
}

.nav-button {
  border-left: 1px solid rgba(42, 104, 196, 0.753);
  border-right: 1px solid rgba(42, 104, 196, 0.753);
  height: 100%;
  display: flex;
  align-items: center;
  padding: 3px;
  box-sizing: border-box;
}

.login {
  border-left: 1px solid rgba(42, 104, 196, 0.753);
  border-right: 0px;
}

.home {
  margin-left: 15px;
}
.nav-group {
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-group h1{
  font-size: xx-large;
}


.nav-spacer {
  width: 200px;
}

/* a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; } */
