.form-audio {
  display: none;
}


.form-audio-button {
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */
  margin: 1px;
  border-radius: 30px;
  background:#ECEFF1;
  margin: 1px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  border: none;
  box-shadow: 4px 4px rgba(0,0,0,0.2);
  /* color: rgb(22, 98, 128); */

}

.form-audio-button:active {
  box-shadow: 3px 3px rgba(0,0,0,0.2);
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.formElement.audio-form-element {
  align-items: center;
}

.audio-file-name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 380px;
}

.form-prev-image {
    margin: 0px;
    width:169px;
    height:169px;
    object-fit:cover;

}
